html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #000;
    background-image: url("./homepage-clients.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
    overflow: hidden;
}

body::after {
    content: "";
    position: absolute;
    left: 40px;
    bottom: 20px;
    width: 300px;
    height: 100px;
    background-image: url("./logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    pointer-events: none;
}